# Arquivos de build
/target/
/build/

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Logs e cache
*.log
logs/
out/
tmp/
*.tmp
*.bak

# Arquivos de configuração de IDEs
### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### Eclipse / Spring Tool Suite ###
.project
.classpath
.factorypath
.settings/
.springBeans/
.sts4-cache/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Arquivos específicos
HELP.md

# Excluir os targets internos
!**/src/main/**/target/
!**/src/test/**/target/

